# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data (opsional, uncomment jika tidak ingin push data)
# data/dataset.xlsx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Streamlit
.streamlit/secrets.toml
